body{
	background-color: pink;
	background-image: url("555555.heic");
	background-size: cover; 
}
div{
	position: relative;
}
img{
	height: 100px;
	width: 100px;
	display: block;
	margin: auto;
	border-radius: 50%;
}
p{
	text-align: center;
}
#container{
	background-color: white;
	opacity: 60%;
	height: 500px;
	width: 500px;
	margin: auto;
	top:100px;
}